<!DOCTYPE html>
<html>
    <head>
        <title>Test</title>
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
      <form action="{{ url_for('logout') }}" method="POST">
      <div class ='navbar'>
        <img src = 'static/logo.png' alt='logo' width="60" height="80" class = 'item' id = 'logo'>
        <a href = '/user_dashboard' class='logo'>Dashboard</a>
        <p class = 'item'>|</p>
        <a href = '/browsing_spaces' class='item'>Browse Spaces</a>
        <p class = 'item'>|</p>
        <a href = '/create_space' class='item'>Create a New Space</a>
        <p class = 'item'>|</p>
        <p>{{session.user_name}}</p>
        <a><button class = 'logout' type="submit">Log Out</button></a>
      </form>
      </div>
        <h1>Thank you for requesting {{space_requested.name}}!</h1>
        <div>
        <img src='{{space_requested.img_link}}' alt='placeholder'>
        <p>Details: {{space_requested.details}}</p>
        <p>Requested From: {{booking_requested.start_date}}</p>
        <p>Requested Until: {{booking_requested.end_date}}</p>
        <p>Please wait for conformation</p>
        <a href = '/user_dashboard'>To dashboard</a>
        <a href = '/browsing_spaces'>Back to Browsing</a>
        </div>
    </body>
</html>