<!DOCTYPE html>
<html>
    <head>
        <title>Browsing Spaces</title>
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <div class ='navbar'>
            <a href = '/user_dashboard' class='logo'><img src 'https://icons8.com/icon/OFOIleplyyh7/airbnb' alt='logo'></a>
            <a href = '/browsing_spaces' class='item'>Browse Spaces</a>
            <a href ='/create_space' class='item'>Create a New Space</a>
        </div>
        <h1>List of Spaces</h1>
        {% for space in spaces %}
            <a class = 'space_box' href = '/show_space/{{space.id}}'>
            <div class = 'space'>
            <img src='{{space.img_link}}' alt='placeholder'>
            <p>{{space.name}}</p>
            <p>{{space.details}}</p>
            <p>{{space.price}}</p>
            </div>
            </a>
        {% endfor %}
    </body>
</html>
<!-- INSERT INTO spaces (name, price, details, img_link, user_id) VALUES -->