<!DOCTYPE html>
<html>
    <head>
        <title>Create Space</title>
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <div class ='navbar'>
            <a href = '/index' class='logo'><img src 'https://icons8.com/icon/OFOIleplyyh7/airbnb' alt='logo'></a>
            <a class='item'>Browse Spaces</a>
            <a href ='/create_space' class='item'>Create a New Space</a>
        </div>
        <div class="container">
        <!-- update action rout ebelow accordingly -->
        <form method="POST" action="/create_space">
        <!-- <form method="POST" action="http://localhost:5000/employees"></form> -->
        <p>What do you want to call your space?: <input type="text" name="name" required/> 
        <p>How would you describe your space?: <input type="text"
        name="details" required/> 
        <p>How much do you want to charge per night?: <input type="float"
        name="price" required/> 
        <p>Would you like to add an image link?: <input type="text"
        name="img_link" /> 
        <!-- add ability to upload image here -->
        <p><input type="submit" value="Submit"> </p>
        </form>
        </div>
    </body>
</html>
