<!DOCTYPE html>
<html>
    <head>
        <title>Create Booking</title>
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
      <div class ='navbar'>
        <a href = '/user_dashboard' class='logo'><img src 'https://icons8.com/icon/OFOIleplyyh7/airbnb' alt='logo'></a>
        <a href = '/browsing_spaces' class='item'>Browse Spaces</a>
        <a href = '/create_space' class='item'>Create a New Space</a>
      </div>
      <h1>Book your space: </h1>
        <div class="container">
          <form method="POST" action="/create_space">
            <p class='test'>Select start date: </p><input name='start_date' type="date"><br>
            <p>Select end date: </p><input name='end_date' type="date"><br>
            <p><input type="submit" value="Request to book"> </p><br>
          </form>
        </div>
    </body>
</html>
