<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <div class ='navbar'>
            <a href = '/index' class='logo'><img src 'https://icons8.com/icon/OFOIleplyyh7/airbnb' alt='logo'></a>
            <a class='item'>Browse Spaces</a>
            <a href ='/create_space' class='item'>Create a New Space</a>
        </div>
        <div class="container">
        <form method="POST" action="/login">
        <p>Name: <input type="text" name="name" required/> 
        <p>Email: <input type="text" name="email" required/> 
        <p>Password: <input type="text" name="password" required/> 
        <button type="login">Log in </button>
        </form>
        </div>
    </body>
</html>