<html>
    <head>
        <title>MakersBnB: User Dashboard</title>
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
      <form action="{{ url_for('logout') }}" method="POST">
      <div class ='navbar'>
        <img src = 'static/logo.png' alt='logo' width="60" height="80" class = 'item' id = 'logo'>
        <a href = '/user_dashboard' class='logo'>Dashboard</a>
        <p class = 'item'>|</p>
        <a href = '/browsing_spaces' class='item'>Browse Spaces</a>
        <p class = 'item'>|</p>
        <a href = '/create_space' class='item'>Create a New Space</a>
        <p class = 'item'>|</p>
        <a><button class = 'logout' type="submit">Log Out</button></a>
      </form>
      </div>
      <div class='row'>
        <div class='column'>
          <div class='dashboard_container'>
              <div class='approvals'>
                <h2>Spaces you own that require approval</h2>
                <!-- This block will need to be corrected once approval function complete -->
                <ul>
                {%for pending in pending_bookings%}
                <li>
                  <p>From: {{pending.start_date}} Until: {{pending.end_date}}</p>
                  <p>Status: {{pending.flag.title()}}</p>
                  <form method='POST' action = '/user_dashboard'>
                    <input type = 'hidden' name = 'booking_id' value = {{pending.id}}></input>
                    <input type='submit' name = 'flag' value = 'Accept'></input>
                    <input type='submit' name = 'flag' value = 'Reject'></input>
                  </form>
                  <br>
                </li>
                {% endfor %}
                <!-- Up to here -->
                </ul>
              </div>
          </div>      
        </div>
        <div class='column'>
          <div class='dashboard_container'>
              <div class='bookings'>
                <h2>Spaces you are visiting soon</h2>
                <ul>
                {%for booking in booking_requested%}
                <li>
                  <p>From: {{booking.start_date}} Until: {{booking.end_date}}</p>
                  <p>Status: {{booking.flag.title()}}</p>
                  <br>
                </li>
                {% endfor %}
                </ul>
              </div>
          </div>
        </div>
        <div class='column'>
          <div class='dashboard_container'>
              <div class='space'>
                <h2>Your Owned Spaces</h2>
                  {% for space in spaces %}
                    <div class='space_box_dashboard'>
                      <a class = 'space_box' href = '/show_space/{{space.id}}'>
                      <div class = 'space'>
                      <img src='{{space.img_link}}' alt='placeholder'>
                      <p>{{space.name}}</p>
                      <p>{{space.details}}</p>
                      <p>{{space.price}}</p>
                      </div>
                      </a>
                    </div>
                  {% endfor %}
              </div>
          </div>
        </div>
      </div>    
    </body>
</html>



